# Python in Data Science

## Variable

### A variable is the name given to a memory location in a programme

In [47]:
a=2
b=9
c=3
d="Shubha"
e=False
f=None
g=2.567

In [48]:
type(a)

int

In [49]:
type(b)

int

In [50]:
type(c)

int

In [51]:
type(d)

str

In [52]:
type(e)

bool

In [53]:
type(f)

NoneType

In [54]:
type(g)

float

## Operator

### There exists 4 type of operator

<li>Arithmatic Operator : +,-,*,/ etc.</li>
<li>Assignment Operator : =,+=,-= etc.</li>
<li>Comparison Operator : ==,>,>=,<=etc.</li>
<li>Logical Operator    : &, |, ! </li>

In [55]:
print(a+b) 
print(b-c)
print(a*b)
d

11
6
18

'Shubha'

## Typecasting

In [56]:
str(32)   #integer to string conversion

'32'

In [57]:
int("33") #string to integer conversion

33

In [58]:
float(67.0) #integer to float conversion

67.00

## input() function ::

In [61]:
a=input("Enter name")

In [62]:
a

'shubha'

## Strings

### sequence of characters enclosed in quotes

###### single quoted : 'shubha'
###### double quoted : "shubha"
###### triple quoted : ''' shubha '''

### string slicing

#### s1=name[index_start: index_end: skip]

In [63]:
name='shubha'
s1=name[1:]
s1

'hubha'

In [64]:
word='amazing'
s2=word[1:6:2]
s2

'mzn'

### String Functions

<li>len() : return length of the string</li>
<li>.endswith("xy") : check if string ends with "xy"</li>
<li>.count("c") : count the numbers of occurance of any character </li>
<li>.capitalize() : capitalize the first character in a given string </li>
<li>.find(word) : findsd a word and return the index of first occurance of that word iin string </li>
<li>.replace(oldword,newword) : replace the oldword with newword </li>

In [65]:
print(len(name))  # len() 
print(len(word))

6
7

In [66]:
print(name.endswith("ha"))
print(word.endswith("on"))

True
False

In [67]:
print(name.count("h"))
print(word.count('a'))

2
2

In [68]:
print(name.capitalize())
print(word.capitalize())

Shubha
Amazing

In [69]:
print(name.find('a'))
print(word.find('z'))

5
3

In [70]:
s='he is a good guy'
s.replace('good','bad')

'he is a bad guy'

## List

### it is a mutable dataset

In [71]:
fruits=['apple','mango','litchi']
fruits[0]

'apple'

### List Function
<li>.sort() : sorting the list </li>
<li>.reverse() : reverse the list </li>
<li>.append(8) : adds '8 to the end of the list </li>
<li>.insert(3,8) : will add at index 3 </li>
<li>.pop(2) : will delete the element at index 2 and return value </li>
<li>.remove(21) : will remove from the list </li>

In [72]:
L1=[1,8,7,2,21,15]

In [73]:
L1.sort()
L1

[1, 2, 7, 8, 15, 21]

In [74]:
L1.reverse()
L1

[21, 15, 8, 7, 2, 1]

In [75]:
L1.append(8)
L1

[21, 15, 8, 7, 2, 1, 8]

In [76]:
L1.insert(3,8)
L1

[21, 15, 8, 8, 7, 2, 1, 8]

In [77]:
L1.pop(2)

8

In [78]:
L1.remove(21)
L1

[15, 8, 7, 2, 1, 8]

## Tuple

### it is a immutable datatype

In [79]:
a=(1,7,2)
a

(1, 7, 2)

#### Tuple function

<li>.count(number) : will return no. of times 'number' appears </li>
<li>.index(number) : will return the index of first occuring of number in a </li>

In [80]:
a.count(1)

1

In [81]:
a.index(7)

1

## Dictionary

### a collection of key-value pairs
### unordered,mutable,indexed,cannot contain duplicate key

In [82]:
a={'marks':'100', 'list':'[1,2,9]'}
print(a)
print(a['marks'])

{'marks': '100', 'list': '[1,2,9]'}
100

### Dictionary function
<li>.items() : returns a list of tuples</li>
<li>.keys()  : return a list containing dictionary keys</li>
<li>.update({'friend':'sam'}) : update the dictionary with supplied keys withini tuple</li>
<li>.get('marks') : return the value of specified keys </li>

In [83]:
a.items()

dict_items([('marks', '100'), ('list', '[1,2,9]')])

In [84]:
a.keys()

dict_keys(['marks', 'list'])

In [85]:
a.update({'friend':'sam'})
a

{'marks': '100', 'list': '[1,2,9]', 'friend': 'sam'}

In [86]:
a.get('marks')

'100'

## Sets
### a collection of non-repetitive elements
### unordered,unindexed,no way to change, cannot contain duplicate values

In [87]:
s={1,8,2,3}

### set function
<li>len(s) : return the length of set s.</li>
<li>.remove(8) : update the set s and remove 8 from the set </li>
<li>.pop() : remove the arbritrary element from the set and return the element removed</li>
<li>.clear() : empties the set s </li>
<li>.union({8,11}) : returns a new set with all items from both sets </li>
<li>.intersection({8,11}) : returns a element contains only items in both set </li>

In [88]:
len(s)

4

In [89]:
s.remove(8)
s

{1, 2, 3}

In [90]:
s.pop()

1

In [91]:
s.clear()
s

set()

In [92]:
s.union({8,11})

{8, 11}

In [93]:
s={1,2,3,4}
s.intersection({3,8,9,2})

{2, 3}

## conditional expression

In [94]:
a=2
if(a==1):
    print('yes')
elif(a>1 & a<3):
    print('amazing')
else:
    print('no')

amazing

## Loops

In [95]:
# Initialize a counter variable
counter = 0

# Define the condition for the while loop
while counter < 5:
    print(f'Counter is {counter}')
    counter += 1  # Increment the counter by 1 in each iteration

print('Loop finished!')

Counter is 0
Counter is 1
Counter is 2
Counter is 3
Counter is 4
Loop finished!

In [96]:
# Iterate over a range of numbers (0 to 4)
for i in range(5):
    print(f'Current value of i is {i}')

print('Loop finished!')

Current value of i is 0
Current value of i is 1
Current value of i is 2
Current value of i is 3
Current value of i is 4
Loop finished!

In [98]:
while True:
    # Code to be executed
    
    # Condition to check if the loop should continue
    user_input = input("Do you want to continue? (yes/no): ")
    if user_input.lower() != 'yes':
        break

## Range function

### range(start,stop,step-size)

In [99]:
for i in range(0,80):
    print(i)
    if(i==3):  # break statement
       break

0
1
2
3

In [100]:
for i in range(4):
    print('painting')
    if(i==2):
        continue  # continue statement used to stop trhe current iteration of the loop and continue with next one
    print (i)

painting
0
painting
1
painting
painting
3

In [101]:
l=[1,7,8]
for items in l: # pass is a null statement instruct to do nothing
    pass

## Function

#### built-in functions and user-defiined functions exists

In [102]:
def add_numbers(x,y):
    return x+y

add_numbers(1,2)

3

`add_numbers` updated to take an optional 3rd parameter. Using `print` allows printing of multiple expressions within a single cell.

In [103]:
def add_numbers(x, y, z=None):
    if (z == None):
        return x + y
    else:
        return x + y + z


print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

`add_numbers` updated to take an optional flag parameter.

In [104]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z == None):
        return x + y
    else:
        return x + y + z


print(add_numbers(1, 2, flag=True))

Flag is true!
3

Assign function `add_numbers` to variable `a`.

In [105]:
def add_numbers(x, y):
    return x + y


a = add_numbers
a(1, 2)

3

## Recursion

In [106]:
def factorial(n):
    if n==0 or n==1:
        return 1      # base case
    else:
        return n*factorial(n-1)

print(factorial(4))

24

In [107]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(6))  # Output: 8

8

In [108]:
def sum_of_natural_numbers(n):
    if n == 1:
        return 1
    else:
        return n + sum_of_natural_numbers(n-1)

print(sum_of_natural_numbers(5))  # Output: 15

15

In [109]:
def power(base, exponent):
    if exponent == 0:
        return 1
    else:
        return base * power(base, exponent-1)

print(power(2, 3))  # Output: 8

8

In [110]:
def reverse_string(input_str):
    if len(input_str) == 0:
        return input_str
    else:
        return reverse_string(input_str[1:]) + input_str[0]

print(reverse_string("hello"))  # Output: "olleh"

olleh

In [111]:
def binary_search(arr, target, low, high):
    if low <= high:
        mid = (low + high) // 2
        if arr[mid] == target:
            return mid
        elif arr[mid] < target:
            return binary_search(arr, target, mid+1, high)
        else:
            return binary_search(arr, target, low, mid-1)
    else:
        return -1

arr = [1, 3, 5, 7, 9, 11, 13]
target = 7
result = binary_search(arr, target, 0, len(arr)-1)
print(f"Element {target} found at index {result}")  # Output: Element 7 found at index 3

Element 7 found at index 3

## File Handling

file can be classified into two categories:
<li>text-file(.txt,.c,.py)</li>
<li>binary-file(.jpg,.dat)</li>

#### modes
<li> r : open for reading </li>
<li> w : open for writing </li>
<li> a : open for appending</li>
<li> t : open for updating </li>
<li> rb: open for read in binary</li>
<li> rt: open for read in text</li>

writing a file

In [112]:
f = open('this.txt', 'w')
f.write('This is nice')
f.close()  # Don't forget to close the file after writing

# Now, let's print some information about the file object
print(f)

<_io.TextIOWrapper name='this.txt' mode='w' encoding='utf-8'>

Opening a file

In [113]:
f=open('this.txt','r')

Reading a file

In [114]:
text=f.read()
print(text)
f.close()

This is nice

In [115]:
f = open('that.txt', 'w')
f.write('This is nice and beautiful')
f.close()  # Close the file

deleting a file

In [116]:
import os
os.remove('that.txt')  #it will delete the file

## Lambda
lambda arguments : expression

In [117]:
x = lambda a : a+ 10
print(x(5))

15

using a function

In [118]:
def myfunc(n):
    return lambda a:a*n
mydoubler = myfunc(2)
print(mydoubler(11))

22

## Object
<li>class -> object instantiation -> object </li>
<li>class : contains info to create a valid object</li>

In [119]:
class employee:      #attribute(class attribute)
    company = 'Google' #specific to each class
Shubha = employee()    #object instantiation
Shubha.company
employee.company = 'Youtube'  #changing the class attribute

Shubha.company

'Youtube'

### Attributes
<li>Class attribute < Instance attribute (priority order)</li>

Instance attribute : <br> shubha.name ='shubha'<br> shubha.salary='30k' #adding instance attribute

##  `_init_` function

uses to assign values to object properties, or other operations that are necessary to do when the object is being created

In [120]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
p1=person('shubha',19)
print(p1.name)
print(p1.age)

shubha
19

## `self` parameter

`self` refers to the instances of the class. It is automatically passed with a function call from an object<br>
it is used to access variable that belong to the class. it can be named anything but has to be first in arguement

## `_str()_` function

`_str()_` controls what should be returned when the class object is represented as a string

In [121]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
p1=person('Shubha',19)
print(p1)

<__main__.person object at 0x00000196843E9D90>

In [122]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    
    def __str__(self):
        return f"{self.name}({self.age})"
    
p1=person('shubha',19)
print(p1)

shubha(19)

delete object

In [123]:
del p1

## Inheritance 
 - a way of creating a new class from an existing class

super() : using this , do not have to use the name of the parent element,it will automatically inherit the methods and properties from its parent.

In [124]:
class person:
    def __init__(self,fname,lname):
        self.firstname=fname
        self.lastname=lname
    
    def printname(self):
        print(self.firstname,self.lastname)

class student(person):
    def __init__(self, fname, lname,year):
        super().__init__(fname, lname)
        self.graduationyear=year
    
    def welcome(self):
        print("welcome",self.firstname,self.lastname,"to the class of",self.graduationyear)

x=student("Shubha","Ruidas",2022)
x.welcome()

welcome Shubha Ruidas to the class of 2022

## iterators
- an object that contains a countable number of values. `__iter()__`(used to get an iterator) and  `__next__`<br>
`iterable` are iterable container which you can get an iterior form(list,tuples,dictionary,sets)

In [125]:
mytuple=('apple','banana','cherry')
myit=iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [126]:
mystr="banana"
myit=iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [127]:
for x in mytuple:
    print(x)

apple
banana
cherry

In [128]:
class MyNumbers:
    def __iter__(self):
        self.a=1
        return self
    
    def __next__(self):
        x=self.a
        self.a+=1
        return x
    
myclass=MyNumbers()
myiter=iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

To prevent the iteration from going on forever we can use the `StopIteration` method

In [129]:
class MyNumbers:
    def __iter__(self):
        self.a=1
        return self
    
    def __next__(self):
        if self.a<=20:
            x=self.a
            self.a+=1
            return x
        else:
            raise StopIteration
    
myclass=MyNumbers()
myiter=iter(myclass)
for x in myiter:
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [130]:
class car:
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model
    
    def move(self):
        print('drive!')
class boat:
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model
    
    def move(self):
        print('sail!')

class plane:
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model
    
    def move(self):
        print('fly!')

car1=car('ford','mustang')
boat1=boat('ibiza','touring20')
plane1=plane('boeing','747')

for x in (car1,boat1,plane1):
    x.move()

drive!
sail!
fly!

In [131]:
class vehicle:
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model
    
    def move(self):
        print('move')

class car(vehicle):
    pass

class boat(vehicle):
    def move(self):
        print('sail')

class plane(vehicle):
    def move(self):
        print('fly!')

car1=car('ford','mustang')
boat1=boat('ibiza','touring20')
plane1=plane('boeing','747')

for x in (car1,boat1,plane1):
    print(x.brand)
    print(x.model)
    x.move()  #move(): three classes can have one method

ford
mustang
move
ibiza
touring20
sail
boeing
747
fly!

## Function Polymorphism
- a python function that can be used on different object is the len() function
- string: for strings len() returns the number of characters
- tuple: for tuple len() returns the number of items in the tuple
- dictionary: for dictionaries len() returns the number of key/value pairs in the dictionary

## Scope
 a variable is only available from inside the region it is created. This is called scope.<br>
 `scope` has two types<br>
<li>local scope : variable inside a function </li>
<li>global scope : variable created outside a function</li>
- two variable of scope will be treated differently<br>

  `global` keyword:<br>
use of it can make the variable global

In [132]:
def myfunc():
    global x
    x=300

x

dir() : list all the defined names belonging to the platform module <br>
'from' : import only parts of module

## Math

In [133]:
import math

x=min(5,10,15)     #min() : return the minimum value
y=max(5,10,25)     #max() : return the maximum value
print(x)
print(y)

5
25

In [134]:
x=abs(-9.678)  #absolute value function
print(x)

9.678

## JSON
- text with `javaScript Object Notation` syntax for storing and exchanging data

#### convert from JSON to python

In [135]:
import json

x='{"name":"shubha","age":30,"city":"new york"}'
print(x)
y=json.loads(x)
print(y)
print(y["age"])

{"name":"shubha","age":30,"city":"new york"}
{'name': 'shubha', 'age': 30, 'city': 'new york'}
30

#### convert python to json

In [136]:
import json

# Create a Python dictionary
x = {
    "name": "John Doe",
    "age": 30,
    "city": "New York"
}
print(x)
# Convert the Python dictionary to a JSON string
y = json.dumps(x)

print(y)

{'name': 'John Doe', 'age': 30, 'city': 'New York'}
{"name": "John Doe", "age": 30, "city": "New York"}

## Exception Handling 
- `try block` : lets you test a block of code for errors
- `except block`: lets you handle the error 
- `else block` : lets you execute code when there is no error 
- `finally block` : lets you execute code,regardless of the result of the try -and except block

In [137]:
try:
    print(u)   #u is not defined
except:
    print('exception occured')

exception occured

In [138]:
try:
    print(u)
except NameError:
    print('variable x is not defined')
except:
    print('something else went wrong')

variable x is not defined

In [139]:
b=-1
if b<0:
    raise Exception('sorry, no numbers below zero')

Exception: sorry, no numbers below zero

## map() function
- executes a specified function for each item in an iterable. The item is sent to the function as a parameter <br>
- map(function,variable)

In [140]:
def myfunc1(n):
    return len(n)

a=map(myfunc1,('apple','banana','cherry'))
print(a)
print(list(a))

<map object at 0x00000196841B8A60>
[5, 6, 6]

## CSV file

csv also known as comma separated values. The datasets are given in csv file is analysed

- csv.writer() : list-> csv<br>
writerow(): this method writes a single row at a time<br>
writerows() : this method writes multiple rows at a time

In [141]:
import csv

fields=['name','branch','year','cgpa']
rows=[['Nikhil','COE','2','9.0'],
      ['Sanchit','COE','2','9.1'],
      ['Aditya','IT','2','9.3'],
      ['Sagar','SE','1','9.5'],
      ['Prateek','MCE','3','7.8'],
      ['Sahil','EP','2','9.1']]

filename="university_records.csv"

with open(filename,'w') as csvfile:
    csvwriter=csv.writer(csvfile)
    csvwriter.writerow(fields)
    csvwriter.writerows(rows)

## Reading csv in python

.reader() : helps in readinig the csv

In [142]:
import csv

with open('university_records.csv',mode='r') as file :
    csvfile=csv.reader(file)
    for lines in csvfile:
       print(lines)

['name', 'branch', 'year', 'cgpa']
[]
['Nikhil', 'COE', '2', '9.0']
[]
['Sanchit', 'COE', '2', '9.1']
[]
['Aditya', 'IT', '2', '9.3']
[]
['Sagar', 'SE', '1', '9.5']
[]
['Prateek', 'MCE', '3', '7.8']
[]
['Sahil', 'EP', '2', '9.1']
[]

- csv.DictWriter() has two components <br>
writeheader() : writes the first row of your csv file using the pre-specified fieldnames<br>
writerows() : writes all rows but in each row it writes only the values(not the keys)

In [143]:
import csv

mydict=[{'branch':'COE','cgpa':'9.0','name':'Nikhil','year':'2'},
        {'branch':'COE','cgpa':'9.1','name':'Sanchit','year':'2'},
        {'branch':'IT','cgpa':'9.3','name':'Aditya','year':'2'},
        {'branch':'SE','cgpa':'9.5','name':'Sagar','year':'1'},
        {'branch':'MCE','cgpa':'7.8','name':'Prateek','year':'3'},
        {'branch':'EP','cgpa':'9.1','name':'Sahil','year':'2'}]

fields=['name','branch','year','cgpa']
filename='university_records2.csv'
with open(filename,'w') as csvfile:
    writer=csv.DictWriter(csvfile,fieldnames=fields)
    writer.writeheader()
    writer.writerows(mydict)

## Using Pandas

In [144]:
import pandas

csvfile=pandas.read_csv('university_records2.csv')
print(csvfile)

      name branch  year  cgpa
0   Nikhil    COE     2   9.0
1  Sanchit    COE     2   9.1
2   Aditya     IT     2   9.3
3    Sagar     SE     1   9.5
4  Prateek    MCE     3   7.8
5    Sahil     EP     2   9.1

## List to CSV using Pandas

In [145]:
import pandas as pd

name=['Aparna','Pankaj','Sudhir','Goutam']
deg=['MBA','BCA','M.TECH','MBA']
scr=[90,40,80,89]
dict={'name':name,'degree':deg,'score':scr}

df=pd.DataFrame(dict)
df.to_csv('giants.csv')

In [146]:
import pandas

csvfile=pandas.read_csv('giants.csv')
print(csvfile)

   Unnamed: 0    name  degree  score
0           0  Aparna     MBA     90
1           1  Pankaj     BCA     40
2           2  Sudhir  M.TECH     80
3           3  Goutam     MBA     89

## List to CSV using numpy

In [147]:
import numpy as np

rows = [['Nikhil', 'COE', '2', '9.0'],
        ['Sanchit', 'COE', '2', '9.1'],
        ['Aditya', 'IT', '2', '9.3'],
        ['Sagar', 'SE', '1', '9.5'],
        ['Prateek', 'MCE', '3', '7.8'],
        ['Sahil', 'EP', '2', '9.1']]

np.savetxt('giants2.csv', rows, delimiter=",", fmt='%s')

In [148]:
import pandas

csvfile=pandas.read_csv('university_records2.csv')
print(csvfile)

      name branch  year  cgpa
0   Nikhil    COE     2   9.0
1  Sanchit    COE     2   9.1
2   Aditya     IT     2   9.3
3    Sagar     SE     1   9.5
4  Prateek    MCE     3   7.8
5    Sahil     EP     2   9.1

### Loading CSV to Dictionary

In [149]:
import csv

filename='giants.csv'
with open(filename,'r') as data:
    for line in csv.DictReader(data):  ## DictReader : use to read csv file as a dictionary
        print(line)

{'': '0', 'name': 'Aparna', 'degree': 'MBA', 'score': '90'}
{'': '1', 'name': 'Pankaj', 'degree': 'BCA', 'score': '40'}
{'': '2', 'name': 'Sudhir', 'degree': 'M.TECH', 'score': '80'}
{'': '3', 'name': 'Goutam', 'degree': 'MBA', 'score': '89'}

In [150]:
import csv

filename='giants2.csv'
with open(filename,'r') as data:
    for line in csv.DictReader(data):  ## DictReader : use to read csv file as a dictionary
        print(line)

{'Nikhil': 'Sanchit', 'COE': 'COE', '2': '2', '9.0': '9.1'}
{'Nikhil': 'Aditya', 'COE': 'IT', '2': '2', '9.0': '9.3'}
{'Nikhil': 'Sagar', 'COE': 'SE', '2': '1', '9.0': '9.5'}
{'Nikhil': 'Prateek', 'COE': 'MCE', '2': '3', '9.0': '7.8'}
{'Nikhil': 'Sahil', 'COE': 'EP', '2': '2', '9.0': '9.1'}

### Loading CSV to List

In [151]:
from csv import DictReader

with open('giants.csv','r') as f:
    dict_reader=DictReader(f)
    list_of_dict=list(dict_reader)  ## convert dictionary to list 
    print(list_of_dict)

[{'': '0', 'name': 'Aparna', 'degree': 'MBA', 'score': '90'}, {'': '1', 'name': 'Pankaj', 'degree': 'BCA', 'score': '40'}, {'': '2', 'name': 'Sudhir', 'degree': 'M.TECH', 'score': '80'}, {'': '3', 'name': 'Goutam', 'degree': 'MBA', 'score': '89'}]

### Getting column names from csv

In [152]:
import csv 

with open('university_records.csv') as csvfile:
    csv_reader = csv.reader(csvfile,delimiter=",")
    list_of_column_names=[]

    for row in csv_reader:
        list_of_column_names.append(row)
        break

print("list of column names:",list_of_column_names[0])

list of column names: ['name', 'branch', 'year', 'cgpa']

### Coulumn names Using DictReader
- keys() ; method of dictionary and convert it to the list

In [153]:
import csv

with open('university_records.csv') as csvfile:
    csv_reader=csv.DictReader(csvfile)
    dict_from_csv = next(csv_reader)  # Get the first row as a dictionary
    list_of_column_names=list(dict_from_csv.keys())

print('List of column names:',list_of_column_names)

List of column names: ['name', 'branch', 'year', 'cgpa']

#### using pandas

In [154]:
import pandas as pd

df=pd.read_csv('university_records.csv')
list_of_column_names=list(df.columns)
print('list of column names:',list_of_column_names)

list of column names: ['name', 'branch', 'year', 'cgpa']

### Writing Data from a python list to CSV row-wise

In [155]:
import csv

data=[['Geeks'],[4],['geeks!']]
file=open('g4g.csv','w+',newline='')
with file:
    write=csv.writer(file)
    write.writerows(data)

#### Using DictWriter
- fieldnames=" " uses for the maintaining the data in correct column

In [156]:
import csv

file=open('geeks.csv','w',newline='')
with file:
    header=['Organisation','Established','CEO']
    writer=csv.DictWriter(file,fieldnames=header)  ## fieldname set to header 
    writer.writeheader()
    writer.writerow({'Organisation':'GOOGLE','Established':'1998','CEO':'Sundar pichai'})
    writer.writerow({'Organisation':'Amazon','Established':'1980','CEO':'Jeff Bezos'})
    writer.writerow({'Organisation':'Microsoft','Established':'1989','CEO':'Bill Gates'})

In [157]:
import pandas as pd

df=pd.read_csv('geeks.csv')
list_of_column_names=list(df.columns)
print('list of column names:',list_of_column_names)

list of column names: ['Organisation', 'Established', 'CEO']

In [158]:
import pandas

csvfile=pandas.read_csv('geeks.csv')
print(csvfile)

  Organisation  Established            CEO
0       GOOGLE         1998  Sundar pichai
1       Amazon         1980     Jeff Bezos
2    Microsoft         1989     Bill Gates

#### Using CSV file using write class

In [159]:
import csv 

data=[['GeeksforGeeks','2008','Sandeep Jain'],['Hackerrank','2009','Vivek Ravisankar']]
file=open('g4g2.csv','a+',newline='')
with file:
    write=csv.writer(file)
    write.writerows(data)

In [160]:
import pandas

csvfile=pandas.read_csv('g4g2.csv')
print(csvfile)

   GeeksforGeeks  2008      Sandeep Jain
0     Hackerrank  2009  Vivek Ravisankar
1  GeeksforGeeks  2008      Sandeep Jain
2     Hackerrank  2009  Vivek Ravisankar

#### DELETING A ROW
- iloc[1:] : first row will be deleted
- iloc[:-1]: last row will be deleted

In [161]:
import pandas as pd

# Create a sample DataFrame
data = {'A': [1, 2, 3, 4, 5],
        'B': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Select the first row
first_row = df.iloc[0]

# Select the first column
first_column = df.iloc[:, 0]

# Select a specific element (row 2, column 1)
element = df.iloc[1, 0]

# Select a slice of rows and columns
slice_df = df.iloc[1:3, 0:2]

In [162]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['John', 'Jane', 'Jim', 'Jill'],
        'Age': [30, 25, 35, 28],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}

df = pd.DataFrame(data)

# Print the original DataFrame
print("Original DataFrame:")
print(df)

# Delete the row at index 2
df = df.drop(df.index[2])

# Print the DataFrame after deletion
print("\nDataFrame after deleting row at index 2:")
print(df)

Original DataFrame:
   Name  Age           City
0  John   30       New York
1  Jane   25  San Francisco
2   Jim   35    Los Angeles
3  Jill   28        Chicago

DataFrame after deleting row at index 2:
   Name  Age           City
0  John   30       New York
1  Jane   25  San Francisco
3  Jill   28        Chicago

Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year

In [163]:
import csv

%precision 2

with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))

mpg[:3]  # The first three dictionaries in our list.

[{'': '1',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l5)',
  'drv': 'f',
  'cty': '18',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '2',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'manual(m5)',
  'drv': 'f',
  'cty': '21',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '3',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '2',
  'year': '2008',
  'cyl': '4',
  'trans': 'manual(m6)',
  'drv': 'f',
  'cty': '20',
  'hwy': '31',
  'fl': 'p',
  'class': 'compact'}]

`csv.Dictreader` has read in each row of our csv file as a dictionary. `len` shows that our list is comprised of 234 dictionaries.

In [164]:
len(mpg)

234

`keys` gives us the column names of our csv.

In [165]:
mpg[0].keys()

dict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

This is how to find the average cty fuel economy across all cars. All values in the dictionaries are strings, so we need to convert to float.

In [166]:
sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

Similarly this is how to find the average hwy fuel economy across all cars.

In [167]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

23.44

Use `set` to return the unique values for the number of cylinders the cars in our dataset have.

In [168]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

Here's a more complex example where we are grouping the cars by number of cylinder, and finding the average cty mpg for each group.

In [169]:
CtyMpgByCyl = []

for c in cylinders:  # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg:  # iterate over all dictionaries
        if d['cyl'] == c:  # if the cylinder level type matches,
            summpg += float(d['cty'])  # add the cty mpg
            cyltypecount += 1  # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount))  # append the tuple ('cylinder', 'avg mpg')

CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

Use `set` to return the unique values for the class types in our dataset.

In [170]:
vehicleclass = set(d['class'] for d in mpg)  # what are the class types
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

And here's an example of how to find the average hwy mpg for each class of vehicle in our dataset.

In [171]:
HwyMpgByClass = []

for t in vehicleclass:  # iterate over all the vehicle classes
    summpg = 0
    vclasscount = 0
    for d in mpg:  # iterate over all dictionaries
        if d['class'] == t:  # if the cylinder amount type matches,
            summpg += float(d['hwy'])  # add the hwy mpg
            vclasscount += 1  # increment the count
    HwyMpgByClass.append((t, summpg / vclasscount))  # append the tuple ('class', 'avg mpg')

HwyMpgByClass.sort(key=lambda x: x[1])
HwyMpgByClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]